#configs-rounds-subpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#configs-rounds-form {
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    height: 100%;
    margin-top: 150px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;

    width: 100%;
    max-width: 400px;
}

.element-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    border: solid white 1px;
    gap: 10px;
    padding: 10px;
}

.element-form-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#config-btn-submit{
    align-self: center;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    color: rgb(12, 158, 51);
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);  
    margin-top: 20px;
}

.configs-rounds-switch {
    width: 0px;
    height: 20px;
    outline: var(--btn-color);
}

.configs-rounds-switch:focus {
    outline: none;
    border: 2px solid var(--btn-color);
    padding: calc(var(--playlist-input-padding) - 2px);
    box-shadow: 0px 0px 5px transparent;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba%280, 300, 0, 0.5%29'/></svg>");
}

.configs-rounds-switch:checked {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}

.configs-num-input {
    width: 50px;
    border-radius: 15px;
    padding: 2px 3px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}
