
.device {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    transition: background-color 0.3s;

    display: grid;
    grid-template-rows: 20% 40% 40%;
}

.device:hover {
    background-color: var(--card-hover-bg-color);
}

.device.selected {
    border: 2px solid var(--btn-color);
}


.device-is-selected-container {
    margin-top: 10px;
    text-align: center;
}

.device-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3em;
}


.device-name-container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1em;
}