.modal-dialog-invisible {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.modal-invisible {
    width: 100%;
}

.visible-modal-content {
    background-color: var(--body-bg-color);
}