:root {
    --animation-duration: 0.5s;
}


@keyframes backdrop-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes backdrop-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes modal-going-down {
    from {
        margin-top: -500px;
    }

    to {
        margin-top: 0px;
    }
}

@keyframes modal-going-up {
    from {
        margin-top: 0px;
    }

    to {
        margin-top: -500px;
    }
}


.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    animation: backdrop-fade-in var(--animation-duration);
}

.modal-backdrop.closing {
    opacity: 0;
    animation: backdrop-fade-out var(--animation-duration);
}


.modal {
    background-color: var(--card-bg-color);

    max-width: 750px;
    width: 90%;

    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.8) 2px;

    animation: modal-going-down var(--animation-duration);
}

.modal.closing {
    margin-top: -500px;
    animation: modal-going-up var(--animation-duration);
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 2px;
    padding: 10px 7px 10px 17px;
}


.modal-title {
    font-size: 1.5em;
}

.modal-close {
    font-size: 2.2em;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.modal-close:hover {
    color: rgb(255, 255, 255);
}


.modal-body {
    min-height: 500px;
}